*{
	margin: 0;
	padding: 0;
}

ul, h1, h2{
	font-family: 'Cinzel Decorative','Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h4{
	font-family: 'Bokor','Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#container{
	background-image: url(pics/flower.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#bar1 ul{
	float: right;
	list-style-type: none;
}


#bar1 ul li{
	display: inline-block;
}

#bar1 ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	padding: 5px;

	border: 1px solid transparent;
	transition: 0.8s ease;
}

#bar1 ul li a:hover{
	background-color: #fff;
	color: #F70D3C;
}

#bar1 ul li.active a {
	background-color: #fff;
	color: #F70D3C;
}

#bar2 ul.center{
	margin: 0;
	padding: 0;
	text-align: center;
}

#bar2 ul.center li{
	list-style-type: none;
	display: inline-block;
	margin: 0 2px 0 0;
}

#bar2 ul li a{
	text-decoration: none;
	font-size: 11px;
	color: #C3F93D;
	padding: 5px;

	border: 1px solid transparent;
	transition: 0.8s ease;
}


#nameTitle {
	padding-top: 200px; 
	text-align: center;
}

#nameTitle h1{
	color: #FFF;
	font-size: 40px;
}

#nameTitle h1::first-letter {
	font-size: 120%;
	color: #F70D3C;
}

#nameTitle h2{
	color: #FFF;
	font-size: 40px;
}

#nameTitle h2::first-letter {
	font-size: 120%;
	color: #F70D3C;
}

#nameTitle2 {
	padding-top: 100px; 
	text-align: center;
}

#nameTitle2 h1{
	color: #FFF;
	font-size: 40px;
}

#nameTitle2 h1::first-letter {
	font-size: 120%;
	color: #F70D3C;
}


#content {
	padding: 10px 30px 20px;
	text-align: center;
}


#content h4{
	padding-top: 80px; 
	color: #F70D3C;
	font-size: 15px;
	color: #F70D3C;
	
	line-height: 20px;
}

#form1 {
	margin: 10px;
}

#clsScroll{ 
	height: 200px;
    width: 98vw;
    position: relative;

	overflow-x: scroll;
	overflow-y: scroll;
}

footer {
	position: absolute;
    bottom: 0; 
    right: 0;
	font-size: 8px;
	color: #fff;
}

@media only screen and (min-width: 1000px){

#bar1 ul li a{
	font-size: 20px;
}

#bar2 ul.center li{
	margin: 0 10px 0 0;
}

#bar2 ul li a{
	font-size: 20px;
}

#nameTitle h1{
	font-size: 60px;
}

#nameTitle h2{
	font-size: 40px;
}

#nameTitle2 h1{
	font-size: 40px;
}


#content h4{
	font-size: 25px;
	line-height: 40px;
	overflow: hidden;
}

#form1 {
	margin: 30px;
	padding: 0;
}

#clsScroll{ 
	height: 300px;
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

footer {
	font-size: 18px;
}

}

}
border-radius : 3px;