*{
	margin: 0;
	padding: 0;
}

header{
	background-image: url(pics/flower.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	padding: 5px;
	border: 1px solid transparent;
	transition: 0.8s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #F70D3C;
}

ul li.active a {
	background-color: #fff;
	color: #F70D3C;
}

/*.flex_container{
	position: fixed;
	top: 40%;
	left: 30%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}*/

.title {
	padding-top: 200px; 
	text-align: center;
}

.title h1{
	color: #FFF;
	font-size: 40px;
}

.title h1::first-letter {
	font-size: 120%;
	color: #F70D3C;
}

.title h2{
	color: #FFF;
	font-size: 40px;
}

.title h2::first-letter {
	font-size: 120%;
	color: #F70D3C;
}


.bar ul{
	float: center;
}


.bar ul li a{
/*	padding: 0px 30px 20px;*/
	text-decoration: none;
	font-size: 10px;
	color: #C3F93D;

	border: 1px solid transparent;
	transition: 0.8s ease;
}


.bar ul li a:hover{
	background-color: #fff;
	color: #F70D3C;
}



.summary {
	padding: 100px 30px 20px;
	text-align: center;
/*	position: fixed;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);*/
}


.summary h4{
	color: #F70D3C;
	font-size: 15px;
	color: #F70D3C;
	
	line-height: 20px;
}


.clsScroll {
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.clsScroll{
	/*height: 300px;*/
	height: 50vw;
	width: 90vw;
	overflow-x: scroll;
	overflow-y: scroll;

	color: #F70D3C;
	font-size: 15px;
	color: #F70D3C;
	
	line-height: 20px;
}


@media only screen and (min-width: 1000px){
ul li a{
	font-size: 20px;
	padding: 10px;
}
.title {
	padding-top: 200px; 
	text-align: center;
}

.title h1{
	color: #FFF;
	font-size: 60px;
}

.title h2{
	color: #FFF;
	font-size: 50px;
}

.bar ul{
	float: center;
}


.bar ul li a{
	font-size: 20px;
}

.summary h4{
	color: #F70D3C;
	font-size: 27px;
	color: #F70D3C;
	
	line-height: 30px;
}

.clsScroll {
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.clsScroll{
	/*height: 300px;*/
	height: 40vw;
	width: 90vw;
	overflow-x: scroll;
	overflow-y: scroll;

	color: #F70D3C;
	font-size: 15px;
	color: #F70D3C;
	
	line-height: 20px;
}

}

}
border-radius : 3px;